/* 
background-color: light-dark(#ffffff, #121212);
--button-bg: light-dark(#007bff, #0056b3);
*/

:root {
  /* lightgrey */
  --background-color: oklch(86.69% 0 0);
  /* lighter grey */
  --background-color-light: oklch(95.84% 0.004 214.33); /*oklch(95.21% 0 0);*/
  /* grey */
  --background-color-dark: oklch(69.09% 0.026 242.51); /*oklch(59.99% 0 0);*/

  --blue-color: oklch(55.08% 0.139 245.43);
  --dark-blue-color: oklch(45.2% 0.131 251.01);
  --light-blue-color: oklch(85.62% 0.049 219.65);

  --red-color: oklch(62.8% 0.25768330773615683 29.2338851923426);
  --yellow-color: oklch(96.8% 0.21100590772552355 109.76923207652125);
  --green-color: oklch(86.8% 0.156 144.09);

  --universal-margin: 0.5rem;
  --universal-padding: 0.5rem;

  --heading-ratio: 1.19;

  --border-color: oklch(0% 0 0);
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 5px;

  --font-family: "Inter", -apple-system, BlinkMacSystemFont, Roboto, Ubuntu,
    "Segeo UI", "Helvetica Neue", Arial, sans-serif;
  --font-color: oklch(0% 0 0);
  --font-color-invert: oklch(100% 0 0);
  --font-size-normal: 1rem;
  --font-size-bigger: 1.5rem;
  --font-size-small: 0.8rem;
  --font-size-smaller: 0.5rem;

  --font-size-big-dynamic: clamp(1.5rem, -2.3149rem + 8.8398vw, 2.5rem);
  --font-size-bigger-dynamic: clamp(1rem, -2.3149rem + 8.8398vw, 2rem);
  /*--font-size-normal-dynamic: clamp(1rem, 1.2rem, 1.5rem);*/
  --font-size-normal-dynamic: clamp(1rem, 2vw, 1.5rem);
  --font-size-small-dynamic: clamp(0.6rem, 0.7rem, 0.8rem);
  --font-size-responsive: calc(2vw + 1em);

  --color-decent-lightgrey: oklch(86.69% 0 0);
  --color-decent-8: oklch(0% 0 0 / 80%);
  --color-decent-5: oklch(0% 0 0 / 50%);

  /* input check/radio */
  accent-color: oklch(59.99% 0 0);
}

/* Themes ##### */
html[data-theme="light"] {
  background-color: var(--background-color-light);
  transition: background-color 0.5s ease; /* Smooth transition dark/light mode */
  color: var(--font-color);

  a:hover {
    color: var(--dark-blue-color);
  }
}

html[data-theme="dark"] {
  background-color: var(--background-color-dark);
  transition: background-color 0.5s ease; /* Smooth transition dark/light mode */
  color: var(--font-color-invert);

  a:hover {
    color: var(--light-blue-color);
  }

  section .text {
    color: var(--color-decent-lightgrey);
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-decent-lightgrey);
  }
}

#dark,
#light {
  display: none;
}

/* ##### Themes */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  color: var(--font-color);
  background-color: var(--background-color);
}

body {
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;

  background: oklch(69.09% 0.026 242.51);
  background: -webkit-linear-gradient(
    to left,
    oklch(95.84% 0.004 214.33),
    oklch(69.09% 0.026 242.51)
  );
  background: linear-gradient(
    to right,
    oklch(95.84% 0.004 214.33),
    oklch(69.09% 0.026 242.51)
  );

  display: grid;
  grid-template-rows: 80px 1fr 1fr 1fr 40px;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "sidebar_left"
    "content"
    "sidebar_right"
    "footer";
}

header {
  grid-area: header;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header_left {
  flex: 25%;
  padding-left: 25px;
  font-size: clamp(1rem, calc(12px + 1.1vw), 1.3rem);
  color: hsla(0, 0%, 100%, 0.5);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}
.header_right {
  flex: 25%;
  padding-right: 25px;
  text-align: right;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header_right > img {
  width: 32px;
  height: auto;
  opacity: 0.5;
}

footer {
  grid-area: footer;

  display: grid;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-small-dynamic);
  color: oklch(0% 0 0 / 50%);
}

header,
footer {
  background: oklch(69.09% 0.026 242.51);
  background: -webkit-linear-gradient(
    to left,
    oklch(95.84% 0.004 214.33),
    oklch(69.09% 0.026 242.51)
  );
  background: linear-gradient(
    to right,
    oklch(95.84% 0.004 214.33),
    oklch(69.09% 0.026 242.51)
  );
}

article {
  background: var(--background-color-light);
  border-radius: var(--border-radius);

  grid-area: content;
  padding: 5px;
}

section {
  max-width: 80ch;
  margin: auto;
  /* should be screen only */
  line-height: 1.75;
}

aside.left {
  /*background: var(--background-color-light);*/
  grid-area: sidebar_left;
  padding: 5px;
}
aside.right {
  /*background: var(--background-color-dark)*/
  grid-area: sidebar_right;
  padding: 5px;
}

.content > .brief,
article > .brief,
section > .brief {
  color: var(--color-decent-5);
  font-size: var(-font-size-responsive);
  padding: 0;
}
.brief::before {
  content: "» ";
  color: var(--color-decent-5);
}

.center {
  text-align: center;
}
.center_flex {
  /* align-content: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cmd_box {
  border: var(--border-width) var(--border-style) var(--color-decent-lightgrey);
  border-radius: var(--border-radius);
  padding: 2px;
  margin-bottom: 10px;
}
.cmd_box > Button {
  margin: 5px;
  width: 180px;
}
.cmd_box_right > Button {
  margin: 5px;
  width: 150px;
}
.cmd_box > label {
  font-size: var(--font-size-small-dynamic);
}

/* code block */
code,
kbd,
pre,
samp {
  font-family: Menlo, Consolas, monospace;
  font-size: 0.8rem;
}
code > pre {
  overflow: auto;
  background: black;
  color: yellowgreen;
  padding: calc(var(--universal-padding) / 4) calc(var(--universal-padding) / 2);
}
kbd {
  background: var(--fore-color);
  color: var(--back-color);
  border-radius: var(--universal-border-radius);
  padding: calc(var(--universal-padding) / 4) calc(var(--universal-padding) / 2);
}

/* ##### Media Queries */
@media screen and (min-width: 768px) {
  .container {
    grid-template-rows: 80px 1fr 40px;
    grid-template-columns: 260px 1fr 180px;
    grid-template-areas:
      "header header header"
      "sidebar_left content sidebar_right"
      "footer footer footer";
  }
}
